<%- include('header', {style: '/assets/styles/records_functions.css'}) -%>

<h1>Add order</h1>
<div class="form-container">
    <form action="/menu/records">
        <label for="customerID" class="form-label">Customer ID:</label>
        <input type="text" id="customerID" name="customerID" class="form-input" placeholder="7" readonly>

        <label for="cust_name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-input" placeholder="Kate William" required>

        <label for="flower" class="form-label">Flower Type:</label>
        <input type="text" id="flower" name="flower" class="form-input" placeholder="Roses" required>

        <label for="amount" class="form-label">Amount:</label>
        <input type="number" id="amount" name="amount" class="form-input" placeholder="3" required>

        <input type="submit" value="Add order" class="form-submit">
    </form>
    <a href="/menu/records" class="back-button">Back</a>
</div>

<%- include('footer') -%>