<%- include('header') -%>

<h1>Customer Information</h1>
<div class="form-container">
    <div class="form-label">
        <span class="form-label">Full Name:</span> <span id="name">John Doe</span>
    </div>
    <div class="form-label">
        <span class="form-label">Phone Number:</span> <span id="phone">123-456-7890</span>
    </div>
    <div class="form-label">
        <span class="form-label">Address:</span> <span id="address">123 Main Street, City, Country</span>
    </div>
</div>
<a href="records.ejs" class="back-button">Back</a>

<%- include('footer') -%>