<%- include('header') -%>

<h1>Edit order</h1>
<div class="form-container">
    <form method="post">
        <label for="customer_id" class="form-label">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" class="form-input" value="1" required>

        <label for="flower_type" class="form-label">Flower Type:</label>
        <input type="text" id="flower_type" name="flower_type" class="form-input" value="Dahlias" required>

        <label for="amount" class="form-label">Amount:</label>
        <input type="number" id="amount" name="amount" class="form-input" value="10" required>

        <label for="price" class="form-label">Price:</label>
        <input type="text" id="price" name="price" class="form-input" value="$5.00" required>

        <h2>Customer information</h2>

        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-input" value="John Doe" required>

        <label for="phone" class="form-label">Phone:</label>
        <input type="text" id="phone" name="phone" class="form-input" value="123-456-7890" required>

        <label for="address" class="form-label">Address:</label>
        <input type="text" id="address" name="address" class="form-input" value="123 Main Street, City, Country" required>

        <input type="submit" value="Update info" class="form-submit">
    </form>
    <a href="records.ejs" class="back-button">Back</a>
</div>

<%- include('footer') -%>
