<%- include('header', {style: '/assets/styles/menu.css'}) -%>

<div class="background">
    <div class="left-background"></div>
    <div class="right-background"></div>
    <div class="content">
        <h1>Menu</h1>
        <form action="/menu/records">
            <button type="submit">Customer Record</button>
        </form>
        <form action="/menu/inventory">
            <button type="submit">Inventory Management</button>
        </form>
        <h3><form action="/"><button><img src="/assets/styles/files/vissza.png" alt="" width="20"></button></form></h3>
    </div>
</div>

<%- include('footer') -%>
