<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/" style="padding: 0;">
            <img src="/assets/styles/files/flower.png" alt="Florist Icon" width="30" height="30" class="d-inline-block align-text-top">
            <span class="ms-2">Rosy Florist</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/styles/files/profile_avatar.png" alt="Profile Icon" width="20" height="30" class="d-inline-block align-text-top">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item">< username ></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/"><img src="/assets/styles/files/logout.png" alt="" height="10"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>